.h1 {
  text-align: center;
}

#input {
  display: flex;
  border-style: double;
  border-width: medium;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex: 1;
  background-color: #ccc;
  padding: 5px;
  margin: 10px;
  height:  110px;
  width:   110px;
}

.img {
  width: 100px;
  height: auto;
  object-fit: cover;
}
